
<div *ngIf="workTypeCategory">
    <h2><span jhiTranslate="fixitApp.workTypeCategory.detail.title">Work Type Category</span> {{workTypeCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fixitApp.workTypeCategory.name">Name</span></dt>
        <dd>
            <span>{{workTypeCategory.name}}</span>
        </dd>
        <dt><span jhiTranslate="fixitApp.workTypeCategory.order">Order</span></dt>
        <dd>
            <span>{{workTypeCategory.order}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'work-type-category/'+ workTypeCategory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
