
<div *ngIf="address">
    <h2><span jhiTranslate="fixitApp.address.detail.title">Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fixitApp.address.name">Name</span></dt>
        <dd>
            <span>{{address.name}}</span>
        </dd>
        <dt><span jhiTranslate="fixitApp.address.address">Address</span></dt>
        <dd>
            <span>{{address.address}}</span>
        </dd>
        <dt><span jhiTranslate="fixitApp.address.city">City</span></dt>
        <dd>
            <span>{{address.city}}</span>
        </dd>
        <dt><span jhiTranslate="fixitApp.address.country">Country</span></dt>
        <dd>
            <span>{{address.country}}</span>
        </dd>
        <dt><span jhiTranslate="fixitApp.address.latitude">Latitude</span></dt>
        <dd>
            <span>{{address.latitude}}</span>
        </dd>
        <dt><span jhiTranslate="fixitApp.address.longitude">Longitude</span></dt>
        <dd>
            <span>{{address.longitude}}</span>
        </dd>
        <dt><span jhiTranslate="fixitApp.address.customer">Customer</span></dt>
        <dd>
            <div *ngIf="address.customer">
                <a [routerLink]="['/customer', address.customer?.id]">{{address.customer?.customer}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
